h1 {
    color: #33ff96;
    font-size: 50px;
    font-family: Montserrat;
    background-color: black;
    text-align: center;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    color: #33ff96;
    font-family: Montserrat;
    background-color: black;
    text-align: center;
}
p {
    color: #33ff96;
    font-size: 20px;
    font-family:Montserrat;
    background-color: black;
    text-align: center;
}
h6 {
    color: #33ff96;
    font-size: 20px;
    font-family: Montserrat;
    background-color: black;
    text-align: center;
}
body 
{
    background-color: black;
    text-align: center;    
}
a{
    color: #33ff96;
    font-size: 20px;
    font-family: Montserrat;
    background-color: black;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px dotted #33ff96;
}

a:hover{ 
color:#ff389c;
} 