/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: lightseagreen;
    font-size: 67px;
    text-decoration: underline plum;
    text-align: center; 
    font-family: 'Unica One', cursive;
}
 
h2 {
    color: black; /* For more fonts, check out: https://fonts.google.com/ */
    font-size: 35px;
    text-align: center; 
    font-family: 'Syne', sans-serif;

}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: black;
    font-size: 20px;
    text-align: center; 
    font-family: 'Syne', sans-serif;

}

h5 {
    color: black; 
    text-align: center; 
    font-family: 'Syne', sans-serif;

}

a:hover {
    text-decoration: wavy;
    color:lightgreen;
    border-style: dotted;
    border-width: 5px;
    border-color: plum;
    text-align: center; 
    font-family: 'Syne', sans-serif;

}

li { 
    font-size: 15px; 
    color: rgba(0, 0, 0, 0.911);
    text-align: left;
    font-family: 'Syne', sans-serif;

}


a:visited {
    text-decoration: none;
    color: darkslategray;
    text-align: center; 
    font-family: 'Syne', sans-serif; 
}

body { 
    background-color: lavender;

}

.left { text-align:left;}

.center {
        margin-left: auto;
        margin-right: auto;
}
img { 
    height: 350;
    width: 385;
}

h4 { 
    font-family: 'Syne', sans-serif;
}

h3 { 
    font-family: 'Syne', sans-serif; 
    text-decoration: bold;
}

a { 
    font-family: 'Syne', sans-serif; 
}

ul { 
    border-style: solid; 
}