h1 {
    color: #E9DAD8;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}
 
h3 {
    color: #B18989;
    font-family: sans-serif;
   
}
 
p {
    color: #C09898;
    font-size: 12px;
}

body { 
    text-align: center;
    background-color:black;
}
a {
    text-decoration: underline;
    color:#B18989  
}

a:hover {
    text-shadow: 1px 1px 2px rgb(219, 169, 169), 0 0 25px white, 0 0 5px lightblue;
  }
  