/* This is a comment! It doesn't affect your code but can be used for descriptions */
h4 {
    color: black rgb(255, 230, 0);
    font-size: 22px;
    font-family: cursive;
}   background-color:lightpink;
 
h2 {
    color: black rgb(255, 255, 255);
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color:rgba(255, 182, 193, 0.514);
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color:black;
    font-size: 23px;
   font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
}   
body{
    background-color: rgba(173, 235, 240, 0.568);
    text-align: center;
}
img {
  border-style: solid; 
   border-width: 5px;
   padding: 5px;
}
a:hover{
  color: rgb(255, 251, 0);
   text-decoration: underline;
}