html, body {
	height: 100%;
}

.cell {
	text-align: center;
	font-family: "georgia";
	font-size: 40px;
	border: 10px solid #ffc060;
	background: #ffc078;
	opacity: 0.5;
	overflow: hidden;
	border-radius: 10px;
	height: 95%;
	margin: 10px;
	text-align: center;
	vertical-align: center;
	text-align: center;
	font-family: "verdana";
}


.overlay {
    position: fixed; /* Sit on top of the page content */
    display: hidden; /* Hidden by default */
    height: 100%; /* Full height (cover the whole page) */
    /*top: 0; 
    left: 0;
    right: 0;
    bottom: 0;*/
    background-color: #ffffff; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay-parent {
	position: fixed; /* Sit on top of the page content */
    display: hidden; /* Hidden by default */
    width: 100%;
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
}