/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: #1a540d;
    font-size: 50px;
    font-family: cursive;
}
 
h5 {
    color:#542f0d;
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: white;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #542f0d;
    font-size: 18px;
}
img {
        border-style: groove;
        border-width: 20px;
        border-color: #542f0d;
}
a:hover {   
    color: green;
}