/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    border-style: dotted;
    border-width: 20px;
    border-color: #000000;
      border-style: solid;
        margin-left: 10px;
        margin-right: 10px;
     color:pink;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
h2 {
    color:rgb(226, 14, 14);
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: pink;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #34eb4f;
    font-size: 12px;
}
