img {
    border-style:dashed;
    border-width:3px;
    border-color:#f29191;
    text-align:left;

}
 
a:hover{
        color:#f29191;
   
}

a {
  text-decoration: none;
  color:black;

}
 
body{
    font-family: 'Montserrat', sans-serif;
     font-size:20px

}

h1{
    text-decoration: underline wavy #f29191

}