h1 {
    background-color:#429652;
}
body {
    text-align: center;
}
img {
    margin-top: 50px;
    border-style: groove;
    border-width: 20px;
    border-color: #4ecc65;
    padding: 10px;
}
img:hover {
    background-color: #fcfc77;
}
h6{
    margin-bottom: 50px;
}
h4 {
    font-style: italic;
}
a:hover {
    background-color: #fcfc77;
}
div {
    border-style: double;
    border-color: #429652;
}