@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  background-color: rgb(246, 242, 248);
  font-family: "Abel", sans-serif;
  margin: 50px;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 100px;
  background-color: rgb(224, 200, 231);
  /* background: linear-gradient(rgb(216, 190, 233), rgb(155, 119, 175)); */
  border: solid rgb(181, 131, 196) 5px;
}

h3 {
  font-size: 40px;
}

img {
  transition: all 0.2s;
  border-radius: 1em;
}

img:hover {
  transform: scale(1.1);
}

a {
  transition: all 0.2s;
  display: inline-block;
}

a:hover {
  background-color: rgb(216, 181, 226);
  transform: scale(1.2);
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover {
  transform: none;
  background: inherit;
}

h4 {
  font-size: 20px;
  border: solid rgb(181, 131, 196) 5px;
  background-image: "passion fruit image 2.jpeg";
  padding: 5px;
}

class {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

span {
  color: rgb(110, 108, 112);
  margin-left: 50px;
  margin-right: 50px;
}

p {
  font-size: 17px;
  margin-left: 50px;
  margin-right: 50px;
}

strong {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}
