
h1 {
    color: rgb(217, 166, 247);
    font-family: 'Dosis', sans-serif;
    font-size: 85px;
    text-align: left;
}


h2 {
    font-family: 'Nunito', sans-serif;
    color:rgb(217, 166, 247); 
    font-size: 20px;
}
body {
    background-color: #bffac7;
}

p {
    
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(109, 3, 61) ;
    text-align: left;
}

h3 {
    font-family: 'Architects Daughter', cursive;
    color: rgb(51, 119, 207) ;
}

h4 { 
    color: rgb(109, 3, 61);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif; }

    a{
        text-decoration: underline;
        color: rgb(241, 130, 3);
       font-family:'Montserrat', sans-serif; }
a:hover{
    color: rgb(217, 166, 247); 
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
}
    
h1 {
    border-style: dashed;
    border-width: 10px;
    border-color: #ece932;
}
