
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1 {
    font-family: "Bangers";
    color: rgb(255, 123, 0);
    font-size: 45px;
}
 
h3 {
    font-family: "Bangers";
    color:  rgb(255, 123, 0);
    font-size: 30px;
}
 
p {
    font-family: "Quicksand";
    color: black;
    font-size: 25px;
}

h4 {
    font-family: "Bangers";
    color:  rgb(255, 123, 0);
    font-size: 30px;
}

img:hover {
    transform: scale(1.2);
}

img {
    border: dotted; 
    border-width: 10px;
    border-color:  rgb(255, 123, 0);
    transition: all 0.2s;
}

body {
    text-align: center;
    background-color: rgb(245, 191, 76);
}

a:hover {
    color: rgb(255, 123, 0);
}

