body {
    margin: 150px;
}
h1 {
    color: rgb(26, 102, 121, 0.986);
    font-size: 50px;
    font-family: "arial";
}

h4 {
    color:rgb(59, 127, 148);
    font-size: 30px;
     font-family: "arial";
}

h2 { 
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-family: "arial";
}

h3 {
    color: rgb(1, 0, 5);
    font-family: "arial"; 
}
 h5 { 
     color: rgb(56, 134, 165);
     font-size: 30px;
     font-family: "arial";
    }
p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
img {
 border-style:"solid";
 padding: 15px;
 border-width:15px;
 border: solid;
 border-color: rgb(56, 134, 165;
}

