/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: #345275;
    font-size: 50px;
    font-family: Courier Prime;
}
 
h2 {
    color: #c3c5d4;
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: rgb(161, 101, 101);
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #3a4b5e;
    font-size: 25px;
}
div {
    border-style: dotted;
    border-width:20px;
    border-color:rgb(107, 87, 143);
    width:920;
    padding-left: 30px;
    padding-right: 17px;
    padding-bottom: 25px;
}
body {
    background-color: rgb(222, 222, 235)
}
a:link {
    text-decoration: underline;
    color: blue;
}
link:hover {
    color: red;
    text-align: center;
