/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: #266c79;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}
 
h2 {
    color: rgb(31, 93, 112);
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    text-align: center;
}
 
h3 {
    border-style: dotted;
    border-width: 10px;
    border-color: #000000;
    text-align: center;
}


p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #184647;
    font-size: 20px;
    text-align: center;
    
}

p:hover {
    color: rgb(4, 48, 31);
    text-align: center;

}
