body {
    text-align: center;
    font-family: sans-serif;
    font: Roboto
}

img {
    border-style: dashed;
    border-color: pink;
    border-width: 15px;
    margin: 10px;
    padding: 50px;
}

p {
    font-family: sans-serif;
    border-style: dashed;
    border-color:pink;
    border-width: 15px;
    margin: 10px;
    padding: 30px;
}

a {
    color: inherit;
}

a:hover {
    color: #2db300;
}


