h1 {
    color: rgb(0, 0, 8);
    font-size: 40px;
    font-family: 'Source Code Pro', monospace; 
} 

h6 {color: rgb(0, 0, 8);
font-size: 15px;
font-family: 'Source Code Pro', monospace; 
} 


p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #000000;
    font-size: 14px;  
    font-family:'Source Code Pro', monospace
} 

table, th, td {
    border: 3px solid black;
  } 

  body{ 
background-color:#ededed;
} 




