body{
    font-family: 'Playfair Display', serif;
    text-align: Center;
    background-color: rgb(208, 215, 223);
}
h1{
    color:rgb(60, 104, 148);
    text-align:center;
    font-size:1in;
    background-color:rgb(138, 176, 207)
}

h2{
    text-align:center;
    font-size: 30px;
    color:rgb(106, 132, 155);
}

p{
    color:rgb(82, 100, 116);
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    }
img{
    Border-Radius:0.2in;
    Margin:15px;
}

img:hover{
    transform:scale(1.05);
    box-shadow:4px 4px 4px rgb(123, 145, 165);
}

h6{
    font-size:25px;
    color:rgb(101, 123, 143);

}

a{
    color:rgb(136, 157, 175);
}

a:hover{
    background-color:rgb(227, 233, 238);
}

.TextAlignRight{
    text-align:left;
    padding:15px;
    font-size:15px;
}
