
h4 {

    color: #9fccff;
}

p {

    color: #585858

}

body {
    text-align: center;
}

h3 {
    text-decoration: underline wavy rgb(0, 0, 0);
}

h3 {

    color: #000000

}
img {
    border: 10px dotted #9fccff;
  }

  img {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
