/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color:#0084e3;
    font-size: 50px;
    font-family:  'Patrick Hand', cursive;
    border-style: dotted;
    border-color: #b82864;  
    
}
 
h2 {
    color: #0084e3;
    font-family: 'Patrick Hand', cursive; /* For more fonts, check out: https://fonts.google.com/ */
    font-size: 26px;
}
h4 {
    color: #b82864;
    font-family:'Ubuntu Condensed', sans-serif;
    font-size: 28px;
    text-align: left;
   padding-left: 90;
}
h3 {
    font-family:'Ubuntu Condensed', sans-serif;
    font-size: 22px;
}

 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #b82864;
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;     
}
body {
    
    border-bottom: dotted;
    border-color: #b82864;
    text-align: center;
    margin: 100px;
}

a {
    color:  #0084e3;
    text-decoration: none;
   
   
    
}

a:hover {
    color: #b82864;  
    text-decoration: none;
    
}

ul {
    text-align: left;
    color: #b82864;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    padding-left: 100;  
}