/* Vivian made this css thing  */
#navbar a:visited {
 color: #85ab9a ;
}

#navbar a:hover {
    color: #c2a5bc;
    text-align: left;
}




#navbar{
    font-size: 16px;
}


#navbar {
     font-family: 'Playfair Display', serif;
}

     #navbar li {display: inline-block;
    }
    #ede9d3

    
        #ede9d3

h4 {
    font-family: 'Playfair Display', serif;
}
h4 {
    font-size: 16px;
}
h4 {
    text-align: center;
}

h5 {
    text-align: center;
}


h6 {
    font-size: 20px;
}


h6 {
    font-family: 'Playfair Display', serif; 
}


h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
}

h6{
    text-align: center;
}
h3{
    text-align: center;
}

#Table {
    text-align: center;
}