/* This is a comment! It doesn't affect your code but can be used for descriptions */
h2 {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: cursive;
}
 
h3 {
    color: black;
    font-size: 40px;
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    text-align: center;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #261b4a;
    font-size: 20px;
    font-family: cursive;
}
body {
    background-color: #e8c5fa;
}

img {
    text-align: center;
    border-style: dotted;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    text-decoration: underline;
}

a:hover {
    color: blue;
}
