
body {
    background-color:red;
    text-align: center;
}


h1 {
    color: Yellow;
    font-size: 60px;
    font-family: cursive;
    margin:0px;
    Background-color:blue;
    font-weight: bolder;
}




i {
    color:yellow;
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: blue;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: yellow;
    background-color: blue;
    font-size: 25px;
}
a:hover {
    color: #4295f5
}
a {
    color: yellow;
    background-color: blue;
}
img {
   border-style: dashed;
   border-color: blue;
   border-width: 10px; 
   margin-top: 10px;
   


}