/* <!-- Sarina created this file on 10.27.20 --> */
/* <!-- Sarina edited this file on 11.11.20 --> */



h1 {
    color: navy;
    font-size: 53px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

h3 { 
    color: navy;
    font-family: 'Amatic SC', cursive;
    text-align: center;
   
}

h2 {
    color: navy;
    font-family: 'Amatic SC', cursive;
    text-align: center;

}
 
p {
    color:  black;
    font-size: 14px;
font-family: 'Indie Flower', cursive;
    text-align: center;
}

a {
    
    color: Navy;
    font-size: 14px;
font-family: 'Indie Flower', cursive;
    text-align: center;

   
}

body {
    background-color: #fce1f9
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #navbar {
    border-bottom: solid;
    border-width: 2px;
    text-align: center;
    }

  
#navbar  li {
display: inline-block;
}
  a:hover {
color: plum
font-family: 'Charm', cursive; }

img {
 border-style:
    border-width:
    border-color:
}