h1 {
    color: #fffda3;
    font-family: Verdana; /* For more fonts, check out: https://fonts.google.com/ */
    font-size: 40px;
}
 
h2 {
    color: white;
    font-family: Verdana; /* For more fonts, check out: https://fonts.google.com/ */
}
 
p {
    color: white;
    font-family: Verdana; /* For more fonts, check out: https://fonts.google.com/ */
    font-size: 25px;
    
}

body {
    background-color: pink;
    font-family: Verdana; /* For more fonts, check out: https://fonts.google.com/ */
    border-style: dotted;
    border-width: 5px;
    border-color: turquoise; /* For more fonts, check out: https://fonts.google.com/ */
    padding: 14px ;
}

h4 {
    color: #fffda3;
    font-family: Verdana; /* For more fonts, check out: https://fonts.google.com/ */
    font-size: 35px;
}


a {
    color: turquoise;
}

a:hover {
    color: white;
}

