h1 {
    Color:#ff00b3;
    font-family: 'Dancing Script', cursive;
    Font-size: 50px;
    text-align: center;
    border-style: dotted;
    border-width: 10px;
    border-color: #ff91c8;  
}
h3 {
    text-decoration: underline overline wavy rgb(255, 0, 157);
    text-align: center;
    font-size: 25px;
    Color: rgb(233, 115, 135) 
}



p {
    font-size: 18px;
    text-align: center;
    color: rgb(250, 34, 106);
    font-family: 'Montserrat', sans-serif;
}

img {
    border-style: double; 
    border-color: rgb(241, 82, 170);
}

body {
    background-color: pink;
    text-align: center;
}

h5 {
    font-size:23px;
    color: rgb(243, 62, 122);
    text-align: center;
    font-family: 'Inter', sans-serif;
   
}

h4 {
    text-align: center;
    font-size: 25px;
    color: rgb(236, 76, 175);
    border-style: dotted;
    Border color: rgb(238, 141, 198);
    font-family: 'Inter', sans-serif;

}

h6 {
    color: pink;
    border-style: dotted;
    border-color:rgb(236, 76, 175);
}

h1:hover {
    text-decoration: none;
    color: rgb(71, 10, 87);
}



