    
h2{ 
    color:#4d8080;
    font-size:30px;
    font-family:'Overpass', sans-serif;
    text-decoration: underline;
}

h1{
    color:#4d8080;
    font-size:50px;
    font-family: 'Overpass', sans-serif;
    text-decoration: underline;
    
      
}

p{
    color:#4d8080;
    font-size:23px;
    font-family:'Overpass', sans-serif ;
}

a {
    color:#4d8080;
}

a:hover {
    color: #8c8d8f;
}


img {
    border-style:solid;
    border-width:10px;
    border-color:#4d8080;
}


img {
padding: 30px;
}



body{
    text-align: center;
    }
    
Html{
    background-color:#fafae6;

}

