/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: #0c4196;
    font-size: 65px;
    font-family: anton;

}
 
h3 {
    color: #2e6dd1;
    font-family: Cursive; /* For more fonts, check out: https://fonts.google.com/ */
    font-size: 50px;

}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #000000;
    font-size: 31px;
  
}
 
body {
    background-color: #b3d0ff;

}

img {
    border-style: dotted;
    color: #0c4196;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 1ch;
    padding-top: 1ch;
}

:hover {
    color: black;
    font-size: .3in;
}