/* This is a comment! It doesn't affect your code but can be used for descriptions */
h2 {
    color: rgb(0, 24, 6);
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    
}
 
h3 {
    color: rgb(187, 255, 249);
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: black;
    text-align: center;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #073f00;
    font-size: 12px;
}

img {
    border-style
    :dotted 
}

a:hover {
text-decoration:  underline;
color: rgb(66, 107, 109) ;
}
a:link {
color: rgb(80, 146, 148);
}

a:visited {
color: darkblue;
}