h1 {
    color: blue;
    font-size: 53px;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px white;
}

h3 {
    color: green;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px white;
   
}

h2 {
    color: green;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px white;

}
 
p {
    color: purple;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

a {
    
    color: purple;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    background-image: linear-gradient(180deg, peru, yellow);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

  

  a:hover {
color: red}
