/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: #0b6317;
    font-size: 70px;
    font-family: sans-serif;
}
a {
    color: #0b6317;
    font-size: 30px;
    font-family: sans-serif;
}
a:hover {
    color: #01a817;
    text-align: center;
}
h2 {
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
}


h3 {
    color: #ffffff;
    font-family: sans-serif; /* For more fonts, check out: https://fonts.google.com/ */
 
}
 
p 
   { /* Search "hex color picker" in Google to pick a color by hex value */
    color: #ffffff:
    font-size: 14px;}

    body {
        text-align: center;
    }
    img {
        border-style: outset;
        border-width: 20px;
        border-color: #1a5f25;
    }

    body {
        background-color: #000000;

