 /* briana created this file on 10.27.20 */

 /* briana created this file on 10.27.20 */
  /* briana added the backgrounf color on 11.11.20  */
  #navbar {
    background-color: rgb(142, 205, 226);
    border-style: solid;
    border-width: 2px;
 }
 
 
 body {
    background-color: rgb(209, 162, 240);
    border: groove;
 
 }