/* This is a comment! It doesn't affect your code but can be used for descriptions */
h1 {
    color: #432080;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}
 
h3 {
    color: black;
    font-family: 'Cedarville Cursive', cursive;
    background-color: white;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: purple
    font-size: 12px;
}


p { padding:5px b
    order - style: double;
}

p {p 
    border-style: dotted;
    border-width: 20px;
    border-color: #432080;
}
p {
    border-style: double;
    margin: 10px;
}

h2 {font-size: 20px;
font-family: 'Cormorant Garamond', serif; 
}

h1:hover {
    color: #ffe100;
        text-align: center;
    }


    a:link {
        text-decoration: underline;
        color: #432080;
    }
    

    body {
    text-align: center;
}

body {
    background-color:white;

    a:link {
    text-decoration: underline;
    color: blue;
}




    






