/* This is a comment! It doesn't affect your code but can be used for descriptions */
<head>        <link> rel="stylesheet" href="blog.css">  </head>
h1 {
    color: blue;
    font-size: 50px;
    font-family: cursive;
}
 
h2 {
    color: rgb(26, 15, 73);
    font-family: cursive; /* For more fonts, check out: https://fonts.google.com/ */
    background-color: black;
}
 
p {
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: #00264d
    ;
    font-size: 30px;
}